
.DS_Store

src/.DS_Store
Xcode/Build/
Xcode/bin/

demo/Xcode/Build/

visualstudio2012/Pim.sdf
visualstudio2012/*.sdf
visualstudio2012/Pim.v11.suo
visualstudio2012/*.suo
visualstudio2012/*.opensdf

visualstudio2012/Debug
visualstudio2012/Debug/*

visualstudio2012/Release
visualstudio2012/Release/*

demo/vs2012/*.suo
demo/vs2012/Release/*
demo/vs2012/Debug/*
demo/*.pdb
demo/*.exe

*.hmap
*.d
*.dia
*.o
*.LinkFileList
*.dep
*.dat
demo/pim_demo

libpim.a
